body {
  background-color: var(--thrid-Grey);
  font-family: "Inter", sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.profile-professional {
  height: 612px;
  width: 385px;
  background-color: var(--second-Grey);
  border-radius: 12px;
}

.img-profile {
  display: flex;
  justify-content: center;
  margin: 17px;
  padding-top: 26px;
}

.imagem-Jessica-Randall {
  justify-content: center;
  max-width: 25%;
  border-radius: 50%;
}

.title-Jessica-Randall {
  display: flex;
  justify-content: center;
  color: var(--primary-White);

  font-size: 24px;
  font-weight: 500;
  padding-top: 10px;
}

.origin {
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
  padding-top: 10px;

  color: var(--primary-Green);
}

.about {
  color: var(--primary-White);
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  padding-top: 27px;
}

.social-link-pages {
  color: var(--primary-White);
  display: flex;
  justify-content: center;
  padding: 16px;
}

.social-link-buttom {
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin: 5px;
  padding: 6px;
}

.buttom-link {
  background-color: var(--primary-Grey);
  justify-content: center;
  align-items: center;
  display: flex;
  height: 44px;
  width: 302px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 7px;
}

.buttom-link:hover {
  background-color: var(--primary-Green);
  cursor: pointer;
  transform: scale(1.10);
  color: var(--second-Grey);
}
